<p-dataTable [value]="items" selectionMode="single" [(selection)]="selectedItem">

  <footer>
    <button type="button" pButton icon="fa-refresh" title="Refresh" (click)="onRefresh()"></button>
    <button type="button" pButton icon="fa-plus" title="Add" (click)="onAdd()"></button>
    <button type="button" pButton icon="fa-edit" title="Edit" (click)="onEdit()" [disabled]="selectedItem == null"></button>
    <button type="button" pButton icon="fa-trash" title="Delete" (click)="onDelete()" [disabled]="selectedItem == null"></button>
    <ng-content select=".date-table-buttons"></ng-content>
  </footer>
</p-dataTable>

<p-dialog [(visible)]="isEditDialogVisible" [header]="selectedItem?.id == null ? 'Add' : 'Edit'" modal="true" *ngIf="editingItem" [width]="editDialogWidth">
  <ng-content select=".edit-dialog-content"></ng-content>

  <footer>
    <button type="button" pButton icon="fa-check" title="Save" (click)="onSave()"></button>
    <button type="button" pButton icon="fa-close" title="Cancel" (click)="isEditDialogVisible = false"></button>
  </footer>
</p-dialog>