<p-growl [value]="notifications" life="5000"></p-growl>

<p-confirmDialog header="Предупреждение" icon="fa fa-exclamation-triangle" acceptLabel="Да" rejectLabel="Нет"></p-confirmDialog>

<section class="container-fluid">
	<header>
		<nav>
			<p-menubar [model]="menu"></p-menubar>
		</nav>
	</header>

	<div class="row">
		<main class="col-md-12">
			<router-outlet></router-outlet>
		</main>
	</div>

	<footer></footer>
</section>