<app-data-table [service]="service" (save)="onSave($event)" (setArrayElements)="onSetArrayElements($event)" editDialogWidth="500">
  <p-column field="name" header="Name"></p-column>
  <p-column field="isLocked" header="Locked?"></p-column>
  <p-column field="leftTries" header="Left tries"></p-column>
  <p-column header="Stores">
    <template type="body" pTemplate let-stores="rowData.stores">
      {{arrayToNameList(stores)}}
    </template>
  </p-column>
  <p-column header="Roles">
    <template type="body" pTemplate let-roles="rowData.appRoles">
      {{arrayToNameList(roles)}}
    </template>
  </p-column>

  <section class="edit-dialog-content" *ngIf="dataTable.editingItem">
    <div class="row">

      <label for="name" class="col-md-3">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="dataTable.editingItem.name" class="col-md-9" />

      <label for="password" *ngIf="dataTable.editingItem.id == null" class="col-md-3">Password</label>
      <input id="password" type="password" pInputText [(ngModel)]="dataTable.editingItem.password" class="col-md-9" *ngIf="dataTable.editingItem.id == null"
      />

      <label for="isLocked" class="col-md-3">Is locked?</label>
      <p-inputSwitch id="isLocked" [(ngModel)]="dataTable.editingItem.isLocked" class="col-md-9"></p-inputSwitch>

      <label for="leftTries" class="col-md-3">Left tries</label>
      <input id="leftTries" type="number" pInputText [(ngModel)]="dataTable.editingItem.leftTries" class="col-md-9" />
    </div>

    <fieldset>
      <legend>Roles</legend>
      <p-checkbox *ngFor="let role of roles" [value]="role" [label]="role.name" [(ngModel)]="dataTable.editingItem.appRoles" class="col-md-6"></p-checkbox>
    </fieldset>

    <fieldset>
      <legend>Stores</legend>
      <p-checkbox *ngFor="let store of stores" [value]="store" [label]="store.name" [(ngModel)]="dataTable.editingItem.stores"
        class="col-md-6"></p-checkbox>
    </fieldset>
  </section>

  <span class="date-table-buttons">
    <button type="button" pButton icon="fa-key" title="Set password" (click)="isSetPasswordDialogVisible = true" [disabled]="dataTable.selectedItem == null"></button>
  </span>
</app-data-table>

<p-dialog [(visible)]="isSetPasswordDialogVisible" modal="true" header="Set password" *ngIf="dataTable.selectedItem">
  <input type="password" pPassword [(ngModel)]="dataTable.selectedItem.password">

  <footer>
    <button type="button" pButton icon="fa-check" title="Save" (click)="onSetPassword()"></button>
    <button type="button" pButton icon="fa-close" title="Cancel" (click)="isSetPasswordDialogVisible = false"></button>
  </footer>
</p-dialog>