<app-data-table [service]="service" (refresh)="onRefresh()">
  <p-column field="beginDate" header="Begin date"></p-column>
  <p-column field="endDate" header="End date"></p-column>
  <p-column field="initialFee" header="Initial fee"></p-column>
  <p-column field="monthlyFee" header="Monthly fee"></p-column>

  <section class="edit-dialog-content" *ngIf="dataTable.editingItem">
    <input type="date" [(ngModel)]="dataTable.editingItem.beginDate" />
    <input type="date" [(ngModel)]="dataTable.editingItem.endDate" />
    <input type="number" [(ngModel)]="dataTable.editingItem.initialFee" />
    <input type="number" [(ngModel)]="dataTable.editingItem.monthlyFee" />
  </section>
</app-data-table>
