<app-data-table [service]="service" (refresh)="onRefresh()">
  <p-column field="paidOn" header="Paid on"></p-column>
  <p-column field="amount" header="Amount"></p-column>
  <p-column field="paymentChannel.name" header="Payment channel"></p-column>
  <p-column field="description" header="Description"></p-column>

  <section class="edit-dialog-content" *ngIf="dataTable.editingItem">
    <input type="date" [(ngModel)]="dataTable.editingItem.paidOn" />
    <input type="number" [(ngModel)]="dataTable.editingItem.amount" />
    <!--<input type="text" [(ngModel)]="dataTable.editingItem." />-->
    <input type="text" [(ngModel)]="dataTable.editingItem.description" />
  </section>
</app-data-table>
