<app-data-table [service]="service">
  <p-column field="name" header="Name"></p-column>
  <p-column field="code" header="Code"></p-column>

  <section class="edit-dialog-content" *ngIf="dataTable.editingItem">
    <input type="text" pInputText [(ngModel)]="dataTable.editingItem.name" />
    <input type="text" pInputText [(ngModel)]="dataTable.editingItem.code" />
  </section>
</app-data-table>
