<app-data-table [service]="service">
  <p-column field="name" header="Name"></p-column>
  <p-column field="address" header="Address"></p-column>

  <section class="edit-dialog-content" *ngIf="dataTable.editingItem">
    <input type="text" pInputText [(ngModel)]="dataTable.editingItem.name" />
    <input type="text" pInputText [(ngModel)]="dataTable.editingItem.address" />
  </section>

  <span class="date-table-buttons">
    <button type="button" pButton icon="fa-file-text-o" title="Contracts" (click)="onShowContracts()" [disabled]="dataTable.selectedItem == null"></button>
    <button type="button" pButton icon="fa-file-text-o" title="Payments" (click)="onShowPayments()" [disabled]="dataTable.selectedItem == null"></button>
  </span>
</app-data-table>
